.verde{
    background-color: lime;
    border: 1px solid orange;

}
.azul{
    background-color: blue;
    border: 1px solid orange;
}
.amarillo{
    background-color: yellow;
    border: 1px solid orange;
}